<div>
    <h1>And it's ... correct! Would you like to continue or claim your prize?</h1>
    <form asp-controller="Home" asp-action="Game">
        <button>Continue</button>
    </form>
    <form asp-controller="Home" asp-action="GameOver" method="get">
        <button>Claim Prize</button>
    </form>
</div>
