<div class="form-control">
    <form asp-controller="Home" asp-action="Game" method="post">
        <div >
            <label>How many questions would you like to answer?</label>
            <select name="numberOfQuestions">
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="5">5</option>
            </select>
            <button type="submit" class="btn btn-primary btn-lg">Play</button>
        </div>
        
    </form>
</div>